body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      
}

.hidden_info{
    display: none;
}

.card{
    /* display: flex;
    justify-content: center; */
    /* align-items: baseline; */
    height: 420px;
    border-width: 0px;
    min-width: 0;
}

.card-img-top{
    height: 65%;
    width: 100%;
}



.border_radius_for_btn{
    width: 150px;
    height: 50px;
    border-radius: 7px;
    overflow: hidden;
    
}

.new{
    transition: 2s, 1s;
    background-color: white;
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, rgb(161, 28, 213), rgb(248, 229, 104));
	width: 150px;
	height: 50px;
    border: solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(316deg, #fff493 25%, #9d089f 74%);
    font-size: 18px;
    opacity: 20px;

}

.new:hover {
    transition: 2s, 1s;
	border: solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(316deg, #feffac 0%, #ce9cff 74%);
    opacity: 50%;
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, rgb(223, 156, 249), rgb(246, 237, 180));
    
}

.btn{
    transition: 2s, 1s;
}

.btn:hover{
    transition: 2s, 1s;
    opacity: 50%;
}



.modal-wrapper{

    height:100%;
    width: 100%;
    background: rgb(0,0,0, 0.6);
    z-index: 1;
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    min-width: 0;
}

.hidden_create{
    display: none;
}

.modal-panel{
    background-color: white;
    width: 400px;
    max-width: 100%;
    height: 600px;
    max-height: 100%;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-radius: 15px;
    overflow-x:hidden;
    overflow-y: auto; 
}

.form-floating{
    margin: 30px;
}

.form-check{

    width: 70%;
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0px;
    
}

.label {
    display: block;
    cursor: pointer;
}

.checkbox { 
    display: none;
}

.fake-checkbox { 
    margin-left: 10px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(img/checkbox_empty.png);
} 

.checkbox:checked + .fake-checkbox {
    background: url(img/checkbox_checked.png);
}

.checkbox:hover +.fake-checkbox{
    background: url(img/checkbox_checked.png);
}

.btn-wrapper-modl{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    
}

.sbmt:hover{
    background-color: rgb(116, 211, 116);
}

.cls:hover{
    background-color: rgb(228, 111, 111);
}



.open_modal_wrapper{
    height:100%;
    width: 100%;
    background: rgb(0,0,0, 0.6);
    z-index: 1;
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    
}

.hidden_open{
    display: none;
}

.modal_open_panel{
    background-color: white;
    width: 300px;
    max-width: 100%;
    height: 600px;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-radius: 15px;
    overflow-x:hidden;
    overflow-y: auto;
}
::-webkit-scrollbar{
    width: 0px
}

.error-msg{
    color: rgba(205, 32, 32, 0.903);
}

.card_close{
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 600px;
}

.card-img-close{
    height: 100%;
    width: 100%;
    margin-top: 1rem;
}

.cat_image{
    position: relative;
    height: 100%;
    width: 100%;
}

.card-text-open{
    margin-left: 15px;
}

.card-title-open{
    margin-left: 100px;
    font-weight: bold;
}

.openCh{
    position: relative;
    right: 40%;
}


.edit_modal_wrapper{

    height:100%;
    width: 100%;
    background: rgb(0,0,0, 0.6);
    z-index: 1;
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.hidden_edit{
    display: none;
}

.modal_edit_panel{

    background-color: white;
    width: 350px;
    max-width: 100%;
    height: 680px;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-radius: 15px;
    overflow-x:hidden;
    overflow-y: auto;
}

.form-edit{
    margin: 20px;
}

.btn-wrapper-modl-e{
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
}

.form-select {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: 85%;
}

.edit_form_general{
    max-width: 100%;
    min-width: 90%;
    max-height: 95%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


